.tile-title {
  font-size:  30px;
  display: block;
  position: relative;
  top: 260px;
  left: 40px;
  z-index: 1;
  color: white;
}

.tile-image {
  overflow: hidden;
  position: relative;
  top: -45px;
}

.tile-line {
  height: 5px;
  width: 155px;
  display: block;
  background-color: white;
  position: absolute;
  z-index: 1;
  top: 320px;
  left: 30px;
}
