<div class="c-container">
  <ngb-carousel @fadeIn [showNavigationArrows]="false" [showNavigationIndicators]="false" #carouselImgs>
    <ng-template ngbSlide *ngFor="let img of carouselImgsUrls; index as i">
      <carousel-img [image]="img" [activeImg]="image.activeId"></carousel-img>
      <div class="carousel-caption"></div>
    </ng-template>
  </ngb-carousel>
  <span class="dot"
              [ngClass]="{'active-img': pic.id === image.activeId}"
              *ngFor="let pic of carouselImgsUrls">
  </span>
</div>

