<div class="c-container">
  <ngb-carousel [showNavigationArrows]="false" [showNavigationIndicators]="false" #carouselImgs>
    <ng-template ngbSlide *ngFor="let img of carouselImgsUrls; index as i">
      <carousel-img [image]="img"></carousel-img>
      <div class="carousel-caption"></div>
    </ng-template>
  </ngb-carousel>
  <span *ngIf="image.activeId === 'ngb-slide-1'" class="dot active-img"></span>
  <span *ngIf="image.activeId !== 'ngb-slide-1' || image.activeId !== 'ngb-slide-0'" class="dot"></span>
  <span *ngIf="image.activeId === 'ngb-slide-0' || image.activeId === undefined" class="dot active-img"></span>
</div>

