.homepage-container {
  height: 100vh;
  width: 100%;
  position: relative;
  left: 0;
  top: -55px;
  float: left;
  z-index: -1;
}

.text1, .text2, .text3 {
  color: white;
  position: relative;
  left: 100px;
}

.text1, .text2 {
  font-size: 70px;
}

.text1 {
  display: block;
  top: 300px;
  width: 1000px;
}

.text2 {
  display: block;
  position: relative;
  top: 270px;
  width: 1000px;
}

.text3 {
  display: block;
  font-size: 40px;
  top: 260px;
  width: 1000px;
}

.carousel-logo {
  position: absolute;
  display: block;
  height: 45px;
  width: 158px;
  top: 225px;
  left: 100px;
}

.tile-buttons {
  width: 100%;
  position: relative;
  background-color: rgb(27, 33, 52);
  left: 0;
  top: -52px;
  vertical-align: top;
  float: left;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  &:hover {
  }
}

.tile-button {
  position: relative;
  display: inline-block;
  width: 20%;
  left: 0;
  background-color: rgb(27, 33, 52);
  overflow: hidden;
  cursor: pointer;
  transition: all 1s ease;
  outline: none;
  border: none;

  &:hover {
    width: 21.3%;
  }
}

.tile-line {
  height: 5px;
  width: 93px;
  display: block;
  background-color: white;
  position: absolute;
  top: 590px;
  left: 100px;
}

.description {
  position: relative;
  top: -77px;
  height: 1000px;
  display: inline-block;
  width: 100%;
  background-color: rgb(27, 33, 52);
}

.typewriter span {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s,
    blink-caret .75s step-end infinite;
}

/* The typing effect */
//@keyframes typing {
//  from { width: 0 }
//  to { width: 100% }
//}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}


