div {
  color: white;
  position: relative;
  left: 100px;
}

.text1, .text2 {
  font-size: 70px;
}

.text1 {
  top: 300px;
}

.text2 {
  position: relative;
  top: 270px;
}

.text3 {
  font-size: 40px;
  top: 260px;
}


