<div style="height: 144%; width: 100%; display: flex; flex-direction: column">
  <div class="homepage-container">
    <ngbd-carousel-basic></ngbd-carousel-basic>
    <div>
      <div class="carousel-logo">
        <img src="assets/images/logo 2.png" alt="" height="100%" width="100%">
      </div>
      <div class="text1">
        <span>{{carouselCap.text1 | uppercase}}</span>
      </div>
      <div class="text2">
        <span>{{carouselCap.text2 | uppercase}}</span>
      </div>
      <div class="text3 typewriter">
        <span>{{carouselCap.text3 | uppercase}}</span>
      </div>
      <div class="tile-line"></div>
    </div>
  </div>
  <div class="tile-buttons">
    <div [@slideCardUp]="slideUp ? 'hidden' : 'shown'" *ngFor="let tileButton of tileButtonsRM" class="tile-button" style="background-image: url({{tileButton.img}})">
      <tile-button [tileButton]="tileButton"></tile-button>
    </div>
  </div>
</div>
<div class="description">
  <description></description>
</div>

