<div class="top-line-description"></div>
<div class="description-text">
  <p style="text-align: center">Lorem ipsum dolor sit.</p>
  <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae error iusto quis reprehenderit. Alias corporis earum libero numquam, officia quis sapiente? Esse in nemo reiciendis similique. Aliquam beatae debitis fugiat ipsa non quaerat qui sapiente sequi soluta velit. Asperiores, ipsum sed! Adipisci illum nam sunt?</span>
  <span style="position: relative; top: 30px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, quo recusandae. Animi beatae consectetur corporis cum cumque deleniti eius et ex ipsum itaque minus modi nam nesciunt optio porro quae qui quibusdam reprehenderit rerum, sequi unde, vel velit vero voluptas.</span>
</div>

