$descriptionTextHeight: 700px;
$descriptionTextWidth: 70%;
$descriptionTop: 200px;

.top-line-description {
  height: 5px;
  width: 200px;
  background-color: white;
  display: block;
  margin: auto;
  position: relative;
  top: 120px;
}

.description-text {
  position: relative;
  //height: $descriptionTextHeight;
  width: $descriptionTextWidth;
  margin: auto;
  top: $descriptionTop;
}
span {
  color: white;
  font-size: 40px;
  float: left;
  display: block;
}
p {
  color: white;
  font-size: 60px;
  font-weight: bold;
}

.text, .text >* {
}
.text {
  animation: giggle 1s ease infinite;
}

@keyframes giggle {
  0%, 100% {
    transform:translateY(-2px);
  }
  50% {
    transform:translateY(2px);
  }
}


