/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.carousel-item {
  transition: opacity 1.2s ease!important;
  position: absolute!important;
  display: block!important;
  opacity: 0
}

.carousel-item.active {
  position: relative!important;
  opacity: 1
}

