/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url("assets/images/airforce_background.jpg");
  position: absolute;
  z-index: -9999;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-item {
  transition: opacity 1.2s ease!important;
  position: absolute!important;
  display: block!important;
  opacity: 0
}

.carousel-item.active {
  position: relative!important;
  opacity: 1
}

